<!DOCTYPE html>
<html lang="en">
    <!------------------------------------------ head ---------------------------------------------------->
    <%- include('../partials/head') %>
    <script src="/js/productDetails.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>
    <!------------------------------------------ header ---------------------------------------------------->
    <%- include('../partials/header') %>
    <!------------------------------------------ main ---------------------------------------------------->
    
    <main>
        <h2 class="product-detail-title">DETALLES DEL PRODUCTO</h2>

        <article class="product-details">
            <section class="product-title-img">
            <h3 class="product-d-title"><%= productToShow.name %></h3>
            <img src="/images/products/<%= productToShow.image %>" alt="celular">
            <div class="final-price">
               <p class="final-price2">Precio Final:</p>  $<%= productToShow.price.toLocaleString('es') %>
            </div>
            <div class="buy-add">
                <button class ="buy-now" type="submit" id="buyNowButton" name="123"> Compre Ahora</button>
                <button class ="add-to-cart" type="submit" name="button" id="submitButton"> Agregar al Carrito</button>
            </div>
            <p class="off"><%= productToShow.discount %>% OFF!</p>
            </section>
            <section class="product-d-description">
                <div class="buy-add2">
                    <button class ="buy-now" type="submit" id="buyNowButton" name="123"> Compre Ahora</button>
                        <input type="hidden" id="productName" value="<%= productToShow.name %>">
                        <input type="hidden" id="productPrice" value="<%= productToShow.price %>">
                        <input type="hidden" id="productImg" value="<%= productToShow.image %>">
                        <input type="hidden" id="productId" value="<%= productToShow.id %>">
                    <button class ="add-to-cart" name="button" id="submitButton"> Agregar al Carrito</button>
                </div>
                <ul>
                    <li><%= productToShow.caract1 %></li>
                    <li><%= productToShow.caract2 %></li>
                    <li><%= productToShow.caract3 %></li>
                    <li><%= productToShow.caract4 %></li>
                </ul>
            <p><%= productToShow.description %></p>
            </section>

        </article>
    </main>
    
    
    <!------------------------------------------ footer ---------------------------------------------------->
    <%- include('../partials/footer') %>
</body>
</html>