<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('../partials/head') %>
<script src="/js/editProfileValidation.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/imageChange.js"></script>


    <body>
        <!------------------------------------------ header -------------------------------------------------->
        <%- include('../partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->

            <!-- ----TÍTULO----  -->
            <main class="userEditProfile">
                <h1 class="titulo1"> <i class="fas fa-user"></i></i> Datos de Usuario </h1>
                </div>
                <ul class="errors"></ul>
                <form class="editProfile" action="/user/<%= userToEdit.id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data">
                    <!-- ----IMAGEN----  -->
                    <div class="profilePicture" id="imagePreview">
                        <img src="/images/user/<%= userToEdit.profilePicture %>" alt="" class="image-preview__image"> 
                        <span class="image-preview__default-text"></span>
                    </div>
                    
                    <div class="profilePicture oldPP">
                        <img src="/images/user/<%= userToEdit.profilePicture %>" alt="">
                    </div>
                    <!-- <button type="submit" class="boton">Cambiar Imágen</button> -->
                    <label for="files" class="btn">Cambiar Imágen</label>
                    <input type="file" id='files' name="profilePicture" style="display:none">

                    <!-- ----NOMBRE----  FALTA CONCATENAR EL BIENVENIDO+NOMBRE-->
                    <div class="datosUser">
                        <label for="">Nombre: </label>
                        <input type="text" id="name" name="name" value=<%=userToEdit.name %>>
                    </div>

                    <!-- ----APELLIDO----  -->

                    <div class="datosUser">
                        <label for="">Apellido: </label>
                        <input type="text" id="lastName" name="lastName" value=<%=userToEdit.lastName %>>
                    </div>


                    <!-- ----BOTÓN "REGISTRAR"----  -->
                    <button type="submit" class="boton">Guardar Datos</button>


                </form>

                </section>
            </main>

            <!------------------------------------------ footer ---------------------------------------------------->
            <%- include('../partials/footer') %>
    </body>

</html>