<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('../partials/head') %>

    <body>
        <!------------------------------------------ header ---------------------------------------------------->
        <%- include('../partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->
            <main class="login1">
                <!-- CONTENIDO ESPECIFICO DE LA PAGINA -->
                <h3>LOGIN</h3>
                <form action="/user/login" method="POST" class="marco">
                    <div class="usuario">
                        <label for="usuario">Correo electronico<span class="red">*</span></label>
                        <div>
                            <% if (locals.old) { %>
                            <input type="email" name="email" value="<%= old.email %>" required />
                            <% } else { %>
                            <input type="email" name="email" required />
                            <% } %>
                        </div>
                    </div>

                    <div class="contraseña">
                        <label for="password">Contraseña<span class="red">*</span></label>
                        <div class="contenedor_ojo">
                            <input type="password" name="password" required />
                                <span class="fa fa-fw fa-eye password-icon show-password"></span>
                        </div>
                    </div>
                    <% if (locals.errors) { %>
                    <ul class="errors errorsStyle">
                        <li><%= errors.email %></li>
                    </ul>
                    <% } %>
                    <div class="recordar">
                        <label><input type="checkbox" name="remember" value="remember" />
                            Recuérdame</label>

                        <input class="entrar" type="submit" value="Ingresar"></input>
                        </div>

                    <div class="olvidaste">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>

            </main>

            <!------------------------------------------ footer ---------------------------------------------------->
            <%- include('../partials/footer') %>
    </body>

</html>