<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('../partials/head') %>

    <body>
        <!------------------------------------------ header -------------------------------------------------->
        <%- include('../partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->
            <main class="userProfile">
             <section class = "titulo1" >Mi Perfil</section>
             <div class="profilePicture">
                <img src="/images/user/<%= user.profilePicture %>" alt="">
                </div>
             <p class="datosUser"> Nombre: <%= user.name %> </p>
             <p class="datosUser"> Apellido: <%= user.lastName %> </p>
             <p class="datosUser"> Correo: <%= user.email %></p>
             

             
             <a href="/user/editProfile"><button class="boton">Editar Perfil</button></a>
          
            </main>




             <!------------------------------------------ footer ---------------------------------------------------->
             <%- include('../partials/footer') %>
            </body>
        
        </html>